.jumbotron {
    background-color: rgba(14, 15, 15, 0.205);
    
    margin-top: 0px;
    border-radius: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.jumbotron h3,label,Control{
    color: rgb(10, 10, 10);

}
.container-fluid{
    width: 100%;
    margin-top: 30px;
    
    
}